**Numbers (int and float)**

In [2]:
x = 3
print(type(x)) #print "<class 'int'>"
print(x)
print(x + 1)
print(x - 1)
print(x * 2)
print(x ** 2)

x += 1
print(x)
x *= 2
y = 2.5
print(type(y))
print(y, y+1, y * 1, y ** 2)

<class 'int'>
3
4
2
6
9
4
<class 'float'>
2.5 3.5 2.5 6.25

**Booleans**

In [4]:
t = True
f = False
print(type(t)) #print "<class 'bool'>"
print(t and f) #logical AND operation , 1 AND 0 = 0, print false(0)
print(t or f) #logical OR operation , 1 OR 0 = 1 print true(1)
print(not t) # print false
print(t != f) #print true

<class 'bool'>
False
True
False
True

**String**

In [5]:
print("Hello World")

Hello World

In [6]:
print('Hello AIUB')

Hello AIUB

In [7]:
print("""Print
Multiple
Lines""")

Print
Multiple
Lines

In [9]:
a = 50
print(f'In have only {a} dollers') # f means 'f-string' here

In have only 50 dollers

In [10]:
b = 50
print(f'Now i have {b + 50} dollers')

Now i have 100 dollers



*   Some methods here

In [12]:
a = 10

print(f'a is {a}')
print('a is {}' .format(a))
print('a is ' +str(a))
print('a is %d %d' % (a, a))

a is 10
a is 10
a is 10
a is 10 10

**Condition Checking**

In [15]:
a = 7
b = 8

if a==7:
  print('The value of a is 7')
  if b==8:
    print('The vallue of b is 8')
elif a==8:
  print('The value of a is 8')
else:
  print('Anything')

The value of a is 7
The vallue of b is 8

**Looping**

In [18]:
for x in range(2, 10):
  print(x)

2
3
4
5
6
7
8
9



*   Increment

In [22]:
for x in range(1,10,+1):
  print('Serial: ', x)

Serial:  1
Serial:  2
Serial:  3
Serial:  4
Serial:  5
Serial:  6
Serial:  7
Serial:  8
Serial:  9



*   Derement

In [24]:
for i in range(10,1,-2):
  print('Serial: ', i)

Serial:  10
Serial:  8
Serial:  6
Serial:  4
Serial:  2

In [29]:
a = 1
for x in range(1,10):
  print(f'{a} + {x} = ', end="")
  a +=  x
  print(a)

1 + 1 = 2
2 + 2 = 4
4 + 3 = 7
7 + 4 = 11
11 + 5 = 16
16 + 6 = 22
22 + 7 = 29
29 + 8 = 37
37 + 9 = 46