## **Python Lists, Tuples, Dictionaries, & Sets**

In [5]:
l = ['a', 'b', 1, 2] # List
t = (3.3, 4.3, 'c', 'd') # Tuple

print(l)
print(t)

['a', 'b', 1, 2]
(3.3, 4.3, 'c', 'd')

In [11]:
print(l[0], t[1], t[-3])

a 4.3 4.3

In [12]:
for i in l:
  print(i)

a
b
1
2

In [13]:
for i,v in enumerate(t):
  print(f'{i} : {v}')

0 : 3.3
1 : 4.3
2 : c
3 : d

In [16]:
c = []
c.append('a')
c.append('b')
c.append('d')
c.append('c')
print(c)

['a', 'b', 'd', 'c']

**List**

In [18]:
l = ['a', 'b', 1, 2]
print(l)

['a', 'b', 1, 2]

**Tuple**

In [19]:
t = (3.2, 7.5, 'a', 'b')
print(t)

(3.2, 7.5, 'a', 'b')

**Set**

In [20]:
dept = {"CSE", "EEE", "BBA"}
print(dept)

{'BBA', 'EEE', 'CSE'}

**Dictionary**



*   Dictionary is a collection of name-value pare

In [21]:
std = {'Nazmul': 3.4, 'Ahmed': 4.5, 'Ahsan': 4.5}
print(std)

{'Nazmul': 3.4, 'Ahmed': 4.5, 'Ahsan': 4.5}